img{
    height: 600px;
    border-radius: 50px;
    object-fit: filled;
    width: 90%;
    padding: 10px;
    margin: 10px;
}

.card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 7%;
    margin: 20px;
}

.card-body > p ,h5  {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 40px;
}
