*{
    scroll-behavior: smooth;
}

.card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 7%;
    margin: 20px;
}

.carousel-item{
    border-radius: 5px;
    object-fit: fill;
}

.RM-btn{
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 5px;
    margin:auto 80px;
}

.image{
    height: 200px;
}

.card-body > p ,h5  {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 40px;
}

.card-image > img {
    object-fit: fill;
}
